
<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<ul>
  <!-- FIX CHALLENGES[] -->
  <p>Score total :<%= @challenges[0].score_all_challenge current_user %></p>

  <% @challenges.each do |challenge| %>
  	<% if !challenge.steps.empty? %>
    <li>
  		<span class="name"><%= link_to challenge.name, challenge %></span>
  		<span class="progress"><%= challenge.progress_by_user current_user %></span>
  		<span class="score"><%= challenge.score_for_user current_user %></span>
  	</li>
    <% end %>
  <% end %>
</ul>

<% end %>