<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<h1>Score total :<%= @challenges[0].score_all_challenge current_user %>pts</h1>
<ul>
  <!-- FIX CHALLENGES[] -->
  <% @challenges.each do |challenge| %>
  	<% if !challenge.steps.empty? %>
    <li id="challenge-<%= challenge.id %>">
    	<div class="texts">
    		<span class="name"><%= link_to challenge.name, challenge %></span>
  			<span class="score"><%= challenge.score_for_user current_user %></span>
  			<% if (challenge.started_by_user current_user) %>
				<img src="assets/arrow_right_white.png" alt="">
  			<% else %>
				<img src="assets/arrow_right_grey.png" alt="">
  			<% end %>	
    	</div>
    	<!-- Retourne true si le challenge est commencé, sinon false -->
      <% if (challenge.started_by_user current_user) %>
      	<div class="background"></div>
      	<div class="progress" style="right:<%= 100-(challenge.progress_by_user current_user) %>%;"></div>
      <% end %>
  	</li>

    <% end %>
  <% end %>
</ul>
<% end %>