<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<h1>Score total <span><%= @challenges[0].score_all_challenge current_user %> points</span></h1>
<ul>
  <% @challenges.each do |challenge| %>
  	<% if !challenge.steps.empty? %>
    <li id="challenge-<%= challenge.id %>" class="<% if (challenge.started_by_user current_user) %>started<% end %>">
    	<div class="texts">
    		<span class="name"><%= link_to challenge.name, challenge %></span>
			<div class="score-image">
	  			<span class="score"><%= challenge.score_for_user current_user %></span>
	  			<% if (challenge.started_by_user current_user) %>
	  				<%= link_to image_tag('arrow_right_white.png'), challenge %>
	  			<% else %>
	  				<%= link_to image_tag('arrow-right_grey.png'), challenge %>
	  			<% end %>
			</div>
    	</div>
      <% if (challenge.started_by_user current_user) %>
      	<div class="background"></div>
      	<div class="progress" style="right:<%= 100-(challenge.progress_by_user current_user) %>%;"></div>
      <% end %>
  	</li>

    <% end %>
  <% end %>
</ul>
<% end %>