<div class="challenge-show">
	<%= link_to 'Accueil', challenges_path %>
	<h1><%= @challenge.name %></h1>
	 <span class="progress"><%= @challenge.progress_by_user current_user %></span>
	<ul>
		<% @challenge.steps.each do |step| %>
			<li class="<% if step.done_by_user current_user %>done<% end %>">
				<%= step.name %>
				<span class="count"><%= step.count_for_user current_user %></span>
			</li>
		<% end %>
	</ul>
</div>