<div class="challenge-show">
	<%= link_to 'Accueil', challenges_path %>
	<h1 class="forme challenge">
		<img src="../assets/icon_deroule_gauche.png" alt="">
		<span class="progress"><%= @challenge.progress_by_user current_user %></span><%= @challenge.name %></h1>
	<h2><%= @challenge.text %></h2>
	<ul>
		<% @challenge.steps.each do |step| %>
			<li class="<% if step.done_by_user current_user %>done<% end %> forme">
				<%= step.name %>
				<span class="count"><%= step.count_for_user current_user %></span>
			</li>
		<% end %>
	</ul>
</div>