<%= link_to 'Accueil', challenges_path %>

<h1><%= @challenge.name %></h1>

<p><%= @challenge.text %></p>

<ul>
	<% @challenge.steps.each do |step| %>
		<% if current_user.step.where(id: step.id).map{|i| i.id}.any? %>
		<li><%= link_to step.name, do_step_path(step) %></li>
		<% else %>
			<%= step.name %>
		<% end %>
	<% end %>
</ul>