<%= link_to 'Accueil', challenges_path %>
<<<<<<< HEAD
<ul id="all">
	 <li >
 		<ul>
 			<a href="#"><li class="challenge forme"><span class="progress">42</span><span class="nameCha"><%= @challenge.name %></span></li></a>
 		</ul>
		<ul class="listSteps">
				<% @challenge.steps.each do |step| %>
					<li class="done forme"><%= link_to step.name, do_step_path(step) %></li>
				<% end %>
		</ul>
 	</li>
=======

<h1><%= @challenge.name %></h1>

<p><%= @challenge.text %></p>

<ul>
	<% @challenge.steps.each do |step| %>
		<% if current_user.step.where(id: step.id).map{|i| i.id}.any? %>
		<li><%= link_to step.name, do_step_path(step) %></li>
		<% else %>
			<%= step.name %>
		<% end %>
	<% end %>
>>>>>>> 805d147e43324e72fe0aba1987cacbf634d2edd0
</ul>