<!DOCTYPE html>
<html>
<head>
  <title>BeCoach</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

	<header id="app-header">
		<img src="<%= asset_path 'logo_panda.png' %>" alt="">
		<h1>BeCoach</h1>
		<!-- <nav>
			<ul>
				<li><div class="active onglet" id="home"><%= link_to('Home', 'Home') %></div></li>
				<li><div class="onglet" id="faq"><%= link_to('FAQ', 'FAQ') %></div></li>
				<% if !current_user %>
					<li><div class="onglet"><%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %></div></li>
				<% else %>
					<li><div class="onglet"><%= link_to "Déconnexion", "oauths/logout" %></div></li>
				<% end %>
			</ul>
		</nav> -->
	</header>

	<div id="app-page">
		<div id="container">
			<%= yield %>
		</div>
	</div>

	<footer id="app-footer">
		<div id="social">
			<a href="http://twitter.com/BeCoachApp"><img src="<%= asset_path 'twitter.png' %>"></a>
			<a href="http://www.facebook.com/pages/BeCoach/1401844740060661"><img src="<%= asset_path 'facebook.png' %>"></a>
		</div>
		<p>©BeCoach 2014 - Mentions Légales</p>
	</footer>

</body>
</html>
