<!DOCTYPE html>
<html>
<head>
  <title>BeCoach</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>BeCoach</h1>
	<nav>
		<ul>
			<li><div class="active onglet"><a href="#">Home</a></div></li>
			<li><div class="onglet"><%= link_to('FAQ', 'FAQ') %></div></li>
			<% if !current_user %>
				<li><div class="onglet"><p><%= link_to "Connexion (facebook)", auth_at_provider_path(:provider => :facebook) %></p></div></li>
			<% end %>
		</ul>
	</nav>
</header>


<%= yield %>

<footer>
	<div id="footer">
		<p>©BeCoach 2014 - Mentions Légales</p>
	</div>	
	<div id="social">
		<img src="assets/twitter.png">
		<img src="assets/facebook.png">
	</div>
</footer>

</body>
</html>
